openapi: 3.0.0

info:
  version: 1.0.0
  title: Bicing API
  description: A simple API for accessing information about Bicing stations

servers:
  - url: https://api.bicing.com

paths:
  /bicing/all:
    get:
      summary: Get information for all Bicing stations
      description: Returns an array of objects with information about all Bicing stations
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The ID of the Bicing station
                    coordinates:
                      type: string
                      description: The latitude and longitude of the Bicing station
                    num_bikes_available:
                      type: integer
                      description: The number of bikes available at the Bicing station
                    num_bikes_available_types:
                      type: object
                      description: The number of bikes available at the Bicing station, broken down by type
                    num_docks_available:
                      type: integer
                      description: The number of docks available at the Bicing station
                    Street:
                      type: string
                      description: The street address of the Bicing station
                    nseaters:
                      type: integer
                      description: The number of seats available at the Bicing station
                    'Number of docks available':
                      type: integer
                      description: The number of docks available at the Bicing station
                    'Postal Code':
                      type: string
                      description: The postal code of the Bicing station
                    'Total capacity':
                      type: integer
                      description: The total capacity of the Bicing station
                    is_charging_station:
                      type: boolean
                      description: Whether the Bicing station is a charging station
      security:
        - apiKeyAuth: []

  /bicing/{id}:
    get:
      summary: Get information for a specific Bicing station
      description: Returns an object with information about a specific Bicing station
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  coordinates:
                    type: string
                    description: The latitude and longitude of the Bicing station
                  num_bikes_available:
                    type: integer
                    description: The number of bikes available at the Bicing station
                  num_bikes_available_types:
                    type: object
                    description: The number of bikes available at the Bicing station, broken down by type
                  num_docks_available:
                    type: integer
                    description: The number of docks available at the Bicing station
                  Street:
                    type: string
                    description: The street address of the Bicing station
                  nseaters:
                    type: integer
                    description: The number of seats available at the Bicing station
                  go:
                    type: integer
                    description: The distance to the nearest station
  /bicing/coords:
    get:
      summary: Get the coordinates for all Bicing stations
      description: Returns an array of objects with the ID and coordinates for all Bicing stations
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The ID of the Bicing station
                    coordinates:
                      type: string
                      description: The latitude and longitude of the Bicing station
      security:
        - apiKeyAuth: []

  /bicing/{id}/coords:
    get:
      summary: Get the coordinates for a specific Bicing station
      description: Returns an object with the ID and coordinates for a specific Bicing station
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The ID of the Bicing station
                  coordinates:
                    type: string
                    description: The latitude and longitude of the Bicing station
      security:
        - apiKeyAuth: []

  /bicing/info:
    get:
      summary: Get information for all Bicing stations
      description: Returns an array of objects with information about all Bicing stations
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The ID of the Bicing station
                    coordinates:
                      type: string
                      description: The latitude and longitude of the Bicing station
                    num_bikes_available:
                      type: integer
                      description: The number of bikes available at the Bicing station
                    num_bikes_available_types:
                      type: object
                      description: The number of bikes available at the Bicing station, broken down by type
                    num_docks_available:
                      type: integer
                      description: The number of docks available at the Bicing station
                    Street:
                      type: string
                      description: The street address of the Bicing station
                    nseaters:
                      type: integer
                      description: The number of seats available at the Bicing station
                    'Number of docks available':
                      type: integer
                      description: The number of docks available at the Bicing station
                    'Postal Code':
                      type: string
                      description: The postal code of the Bicing station
                    'Total capacity':
                      type: integer
                      description: The total capacity of the Bicing station
                    is_charging_station:
                      type: boolean
                      description: Whether the Bicing station is a charging station
      security:
        - apiKeyAuth: []

  /bicing/{id}:
    get:
      summary: Get information for a specific Bicing station
      description: Returns an object with information about a specific Bicing station
        parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  coordinates:
                    type: string
                    description: The latitude and longitude of the Bicing station
                  num_bikes_available:
                    type: integer
                    description: The number of bikes available at the Bicing station
                  num_bikes_available_types:
                    type: object
                    description: The number of bikes available at the Bicing station, broken down by type
                  num_docks_available:
                    type: integer
                    description: The number of docks available at the Bicing station
                  Street:
                    type: string
                    description: The street address of the Bicing station
                  nseaters:
                    type: integer
                    description: The number of seats available at the Bicing station
                  go:
                    type: integer
                    description: The distance to the nearest station
                  'Number of docks available':
                    type: integer
                    description: The number of docks available at the Bicing station
                  coordinates:
                    type: string

                